.secondary-white-back {
    display: inline-block;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.9); /* Update background color to red */
    color: white;
    position: fixed; /* Position the buttonSearch on top of all layers */
    z-index: 999999999!important;
    border: none; /* Remove the border */
    border-radius: 5px; /* Add border radius for a modern look */
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    top: 14%;
    right: 10px;
    transition: background-color 0.3s ease;
}


.white-back {
    display: inline-block;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.9); /* Update background color to red */
    color: white;
    position: fixed; /* Position the buttonSearch on top of all layers */
    z-index: 999999999!important;
    border: none; /* Remove the border */
    border-radius: 5px; /* Add border radius for a modern look */
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    top: 10px; /* Align the buttonSearch 10px from the top */
    right: 10px;
    transition: background-color 0.3s ease;
}

.average-price-div {
    display: inline-block;
    margin: 7px;
    padding: 10px;
    width: 23%;
    height: 80px;
    color: white;
    position: center;
    z-index: 999999999!important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.header-text-div {
    display: inline-block;
    margin: 7px;
    padding: 10px;
    width: 90%;
    background-color: rgba(255, 0, 0, 0.89);
    color: white;
    position: center;
    z-index: 999999999!important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.save-button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.89);
    color: white;
    position: center;
    z-index: 999999999!important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* styles.css */

.delete-button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.89);
    color: white;
    position: center;
    z-index: 999999999!important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
