body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Light gray background */
    color: #333333; /* Dark text color */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

h1 {
    color: #ff4500; /* Orange header text */
    font-size: 28px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#idInput {
    border: 1px solid #cccccc; /* Light gray border */
    padding: 10px;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

#saveButton {
    background-color: #ff4500; /* Orange button background */
    color: #ffffff; /* White button text */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

#saveButton:hover {
    background-color: #ff6347; /* Darker orange on button hover */
}

.telegram-link {
    font-size: 14px;
}

a {
    color: #ff4500; /* Orange link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
